@import url('bootstrap');
@import url('bootstrap-icons');



.orange-btn {

  color: rgb(255, 123, 0);

  border: 1px solid rgb(255, 123, 0);
  border-radius: 0px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}



/* 

HEADER

*/

header {

  .navbar {

    width: 100%;
    position: fixed;
    z-index: 220;
    background-color: #272727;

    a {
      color: lightgray;

      &:hover {

        color: rgb(255, 123, 0) !important;
      }
    }

    .active {

      color: rgb(255, 123, 0) !important;

      .hide-search {

        display: none !important;
      }
    }

    .dropdown-toggle:hover,
    .dropdown-toggle:active {

      background-color: #1f1f1f;
      color: rgb(255, 123, 0);
    }

    .dropdown-menu {

      &.show {
        display: flex !important;
        flex-direction: row;
        gap: 10px;
      }


      &:not(.show) {
        display: none !important;
      }

      background-color: #272727;

      .dropdown-item:hover {

        background-color: #383838;
        color: rgb(255, 123, 0);
      }

      .divide {

        border-left: 1px solid lightgray;
      }
    }

  }
}



/*

MAIN

*/

main {

  min-height: 80vh;
  background-color: black;

  .jumbo {

    height: 80vh;
    position: relative;

    .swipe-info {
      padding: 3rem;
      color: lightgray;
      width: 40vw;
      font-weight: bold;
      margin-top: auto;
      margin-right: auto;
      z-index: 200;

      background: radial-gradient(at center, #272727 1%, #f2f2f200 70%);
    }

    .swipe-img {

      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      filter: brightness(0.8);

    }

    .swiper-button-next,
    .swiper-button-prev {
      color: lightgray;
    }





  }

  /*
      Anime sections card
  */

  .container-custom {

    margin: 0 3vw;

    .anime-swiper {

      width: 100%;
      height: 350px;

      .swiper-slide {
        height: 100%;


        .anime-swipe-img {

          width: 100%;
          height: 80%;
          object-fit: cover;
          border-radius: 8px;
          filter: brightness(0.9);
        }

        .anime-swipe-info {
          height: 20%;
          color: white;
        }



      }

      .swiper-button-next,
      .swiper-button-prev {
        color: lightgray;
        filter: brightness(2);

      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        font-size: 30px;
      }


    }
  }


  .col {

    height: 350px;

    .card {

      height: 100%;
      background-color: black;
      color: white;

      .card-img-top {

        height: 70%;
        width: 100%;

        img {

          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .card-body {

        h6 {

          font-size: 1rem;
        }

        span {

          font-size: 0.7rem;
        }
      }

    }
  }

}




/*

  FOOTER

*/

footer {




  .container-black {

    margin: 0 auto;
    background-color: black;


    .btn-outline-light:hover {
      background-color: rgb(59, 59, 59);
      color: white;
    }



  }

  .footer-bcg {
    background-image: url(./assets/footerBcg.png);
    background-repeat: repeat;
    height: 100px;

    .footer-a {

      color: lightgray;
      text-decoration: none;
      padding: 1rem;

    }
  }
}