@import url('bootstrap');
@import url('bootstrap-icons');



/*CHange swiper slide pagination color*/
:root {

  --swiper-pagination-color: #ff8c00;
  --swiper-pagination-bullet-inactive-color: #999;
}


.orange {

  color: rgb(255, 123, 0);
}

.orange-btn-outline {

  color: rgb(255, 123, 0);
  background-color: black;
  border: 1px solid rgb(255, 123, 0);
  border-radius: 0px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.orange-btn {

  color: black;
  font-weight: bold;
  background-color: rgb(255, 123, 0);
  border: 1px solid rgb(255, 123, 0);
  border-radius: 0px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

a {

  color: white;
  text-decoration: none;
}



/* 

HEADER

*/

header {

  .navbar {

    width: 100%;
    position: fixed;
    z-index: 220;
    background-color: #272727;

    a {
      color: lightgray;

      &:hover {

        color: rgb(255, 123, 0) !important;
      }
    }

    .active {

      color: rgb(255, 123, 0) !important;

      .hide-search {

        display: none !important;
      }
    }

    .dropdown-toggle:hover,
    .dropdown-toggle:active {

      background-color: #1f1f1f;
      color: rgb(255, 123, 0);
    }

    .dropdown-menu {

      &.show {
        display: flex !important;
        flex-direction: row;
        gap: 10px;
      }


      &:not(.show) {
        display: none !important;
      }

      background-color: #272727;

      .dropdown-item:hover {

        background-color: #383838;
        color: rgb(255, 123, 0);
      }

      .divide {

        border-left: 1px solid lightgray;
      }
    }

  }
}



/*

MAIN

*/

main {

  padding-top: 100px;

  min-height: 80vh;
  background-color: black;

  .jumbo {

    height: 80vh;
    position: relative;

    .swipe-info {
      padding: 3rem;
      color: lightgray;
      width: 40vw;
      font-weight: bold;
      margin-top: auto;
      margin-right: auto;
      z-index: 200;

      background: radial-gradient(at center, #272727 1%, #f2f2f200 70%);
    }

    .swipe-img {

      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      filter: brightness(0.8);

    }

    .swiper-button-next,
    .swiper-button-prev {
      color: lightgray;
    }

    .swiper-pagination {
      text-align: left !important;
      padding-left: 20px;

      left: 0 !important;
      width: auto !important;
    }

    .swiper-pagination-progressbar {
      background: rgba(0, 0, 0, 0.1) !important;
      width: 150px !important;
      height: 4px !important;
      left: 20px !important;
      top: auto !important;
      bottom: 30px !important;
      border-radius: 10px;
      overflow: hidden;
    }

    .swiper-pagination-progressbar-fill {
      background: #ff8c00 !important;
      transition-timing-function: linear !important;
    }

  }

  /*
      Anime sections card
  */

  .container-custom {

    margin: 0 3vw;

    .anime-swiper {

      width: 100%;
      height: 350px;

      .swiper-slide {
        height: 100%;


        .anime-swipe-img {

          width: 100%;
          height: 80%;
          object-fit: cover;
          border-radius: 8px;
          filter: brightness(0.9);
        }

        .anime-swipe-info {
          height: 20%;
          color: white;
        }



      }

      .swiper-button-next,
      .swiper-button-prev {
        color: lightgray;
        filter: brightness(2);

      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        font-size: 30px;
      }


    }
  }


  .col {

    height: 350px;

    .card {

      height: 100%;
      background-color: black;
      color: white;

      .card-img-top {

        height: 70%;
        width: 100%;

        img {

          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .card-body {

        h6 {

          font-size: 1rem;
        }

        span {

          font-size: 0.7rem;
        }
      }

    }
  }


  /*SEARCHBAR*/

  .search-bar {

    margin-top: -30px;
    height: 90px;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;

    input {

      width: 50%;
      height: 50%;
      background-color: inherit;
      border: none;
      border-bottom: 1px solid rgb(255, 123, 0);
      font-size: 1.5rem;
    }
  }



  /*ANIME CARD*/

  .anime-card {

    margin-top: -30px;
    height: 90vh;


    .card-img {
      position: relative;
      z-index: 0;
      height: 40%;

      img {

        width: 100%;
        position: absolute;
        filter: brightness(0.7);
      }

    }

    .anime-info {

      color: white;
      z-index: 10;
      position: relative;
      padding-left: 3rem;
      height: 500px;
      background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));

      h1 {

        font-size: 5rem;
      }

      h6,
      a {

        color: lightgray;
        font-weight: 400;
      }

      a {

        text-decoration: underline;
        padding-left: 0.1rem;
      }

      .vote {

        color: white;
        padding-left: 0.2rem;
      }

      .description {

        display: flex;

        p {
          width: 50%;
        }
      }

    }

    .episodes {

      margin-top: rem;
    }
  }

}




/*

  FOOTER

*/

footer {




  .container-black {

    margin: 0 auto;
    background-color: black;


    .btn-outline-light:hover {
      background-color: rgb(59, 59, 59);
      color: white;
    }



  }

  .footer-bcg {
    background-image: url(./assets/footerBcg.png);
    background-repeat: repeat;
    height: 100px;

    .footer-a {

      color: lightgray;
      text-decoration: none;
      padding: 1rem;

    }
  }
}